@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium');

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loaderContainer {
    display: flex;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}
.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

html,body {
    height: 100%;
    width: 100%;
}
.bodyContainer {
    width: 100%;
    height: 100%;
}
#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}
main {
    position: relative;
    top: 100%;
}
.canvas-container {
    height: 100%;
    width: 100%;
}
.canvas-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0px;
    font-family: "Poppins";
}
.nav {
    justify-content: flex-end;
    padding: 10px 20px;
}
.nav a {
    z-index: 4;
}
.nav-item {
    padding: 20px 10px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.nav-item:hover {
    color: rgb(65, 63, 63);
    text-decoration: none;
}
.services-dropdown-container {
    position: relative;
    top: 16px;
    max-width: 800px;
    margin-left: auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: white;
    box-shadow: 0px 0px 2px 1px rgb(235, 233, 233);
    border-radius: 15px;
    z-index: -1;
}
.dropdown-item-container {
    padding: 10px;
}
.dropdown-item {
    position: relative;
    border: 1px solid rgba(0, 128, 128, 0.233);
    border-radius: 5px;
    padding: 20px 20px;
    transition: 0.2s;
    text-align: left;
}
.item1{background: rgba(255,93,125,0.1);}
.item2{background: rgba(88,87,249,0.1);}
.item3{background: rgba(89,37,125,0.1);}
.item4{background: rgba(37, 75, 125, 0.137);}
.item1:hover{background: rgba(255, 93, 125, 0.418);}
.item2:hover{background: rgba(87, 87, 249, 0.404);}
.item3:hover{background: rgba(88, 37, 125, 0.425);}
.item4:hover{background: rgba(37, 75, 125, 0.411);}
.item-heading {
    font-size: 1.4rem;
    font-weight: 600;
}
.item-des {
    width: 70%;
    white-space: normal;
}
.item-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: 0.3s;
}
.item-arrow svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}
.down-arrow {
    display: inline-block;
}
.down-arrow svg {
    position: relative;
    top: 0;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: rotate(90deg);
    transition: all .3s ease;
}
.nav-item-services:hover .down-arrow svg{
    transform: rotate(0);
}
.item1:hover .arrow1 {transform: translateX(8px);}
.item2:hover .arrow2 {transform: translateX(8px);}
.item3:hover .arrow3 {transform: translateX(8px);}
.item4:hover .arrow4 {transform: translateX(8px);}
.dropdown-item-container a:hover {
    text-decoration: none !important;
}
.overlay-heading {
    font-family: "Poiret One";
    font-family: 'Circular Std Medium';
    font-size: 3.4rem;
    color: teal;
}
.overlay-subheading {
    font-size: 1.3rem;
    font-family: "Poppins";
    color: rgb(84, 100, 93);
    margin-bottom: 10px;
}
.overlay-services {
    text-transform: uppercase;
}
.overlay-services>div {
    padding: 0px 13px;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
}
.overlay-services>div:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 25px rgb(144, 166, 180);
}
.service1{color: slateblue;}
.service2{color: rgb(160, 39, 39);}
.service3{color: rgb(55, 82, 155);}
.service4{color: rgb(60, 126, 43);}
.temp {
    height: 400px;
    background-color: teal;
    box-shadow: 0px 0px 5px 2px silver;
}