@font-face {
    font-family: 'madetommy-light';
    src: url('/static/fonts/madetommy/mt-light.ttf')  format('truetype')
}
@font-face {
    font-family: 'madetommy-bold';
    src: url('/static/fonts/madetommy/mt-bold.ttf')  format('truetype')
}
@font-face {
    font-family: 'helvetica-regular';
    src: url('/static/fonts/helvetica/helvetica-regular.ttf')  format('truetype')
}